

.footer.small{
    background-color:grey;
     text-align:center;
     width:100%;
     background-color:white;
     height:160px;
   }
   
   .contact, .newsletter, .links, .blog{
       position:relative;
       height:40px;
   }
   
   /* Button used to open the contact form - fixed at the bottom of the div*/
   .open-button{
     background-color:transparent;
     color:black;
     padding: 16px 20px;
     border: none;
     cursor: pointer;
     margin:auto;
   }
   
   /* The popup form - hidden by default */
   .popup {
     display:none;
     position: absolute;
     background-color: #eeeeee;
     bottom: 0%;
     right: 0%;
     width:100%;
     border: 3px solid #f1f1f1;
     z-index: 9;
   }
   
   
   
   .form.container input[type=text], .form.container input[type=email] {
     width: 100%;
     padding: 10px;
     margin: 0px 0 10px 0;
     border: none;
     font-size:11px;
     color:#1a1b1d;
     border-radius:5px;
     background:white;
   } 
   
   
   /* When the inputs get focus, do something */
   .form.container input[type=text]:focus, .form.container input[type=email]:focus {
     background-color: #ddd;
     outline: none;
   }
   
   
   
   .container {
       width:100%;
       background-color:#eeeeee;
     }
   
   
   .contact-btn{
       background-color:1f232c;
       color: white;
       padding: 10px;
       border-radius:5px;
       border: none;
       width:100%;
       cursor: pointer;
       font-size:11px;
   }
   
   .contact-btn.cancel{
       background-color: grey;
   }
   
   
   .form-btn {
       background-color:1f232c;
       color: white;
       padding: 10px;
       border-radius:5px;
       border: none;
       width:100%;
       cursor: pointer;
       font-size:11px;
     }
   
   /* Add a red background color to the cancel button */
   .container .cancel {
     background-color:grey;
   }
   
   /* Add some hover effects to buttons */
   .container .form-btn:hover, .open-button:hover {
     background-color:grey;
   }